<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Security knowledge</h4>
      <i class="devicon-debian-plain-wordmark colored"></i>
      <i class="devicon-ssh-plain-wordmark colored"></i>
      <i class="devicon-apache-line-wordmark colored"></i>
      <p>Pentesting, Privacy, CTFs, Honeypots, RATs, Databases, Apache, Nginx, Web Security, Forensic, Wifi Auditing...</p>
    </div>

    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-git-plain"></i>
      <p>Git, Python, C, C++, Java, Bash, assembler, R...</p>
    </div>

    <div class="four columns">
      <h4>Mathematics</h4>
      <p>Advanced knowledge in mathematics</p>
    </div>
  </div>
</div>
