<div class="container">
  <div class="user-details">
    <h3> Personal Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/maxrecon.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> MaxRecon </h5>
      <p>Suite for information gathering written in python 3.5.</p>
      <a class="project-link" href="https://github.com/santidediego">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="landscapes" src="{{ "/assets/img/landscapes.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Landscapes (Unfinished)</h5>
      <p>It was my second web project and it let me learn a lot of stuff about web development, no-SQL databases and python in general. The project is an unfinished photography social network.</p>
      <a class="project-link" href="https://github.com/santidediego/Landscapes">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="honeynet" src="{{ "/assets/img/honeynet.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Honeynet deployment in UGR network</h5>
      <p>Honeynet deployment in the UGR network for data and malware analysis. This project corresponds to my Final Degree Project.</p>
    </div>
  </div>

</div>
