<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      <div class="container">
          <div class="user-details">
            <h3> Publications </h3>
          </div>
                  <div class="columns">
                      <h6>Diego de Diego, S.; Romero López, G. Honeynet para el análisis del tráfico y muestras de malware. Enseñanza y Aprendizaje de Ingeniería de Computadores, 7: 145-155 (2017). [http://hdl.handle.net/10481/47378]</h6>
                  </div>
                  <div class="columns">
                      <h6></h6>
                  </div>
        
    </div>
</body>