<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      <div class="container">
          <div class="user-details">
              <h3> Publications </h3>
          </div>
          <div class="columns">
              <h6>Regueiro, C., Anguita, S., de Diego, S., & Lage, O. (2022). Protocol for Identity Management in Industrial IoT based on Hyperledger Indy. International Journal of Computing and Digital Systems, 12(1), 653-664.</h6>
          </div>
          <div class="columns">
              <h6>De Diego, S., Regueiro, C., & Maciá-Fernández, G. (2021). Enabling Identity for the IoT-as-a-Service Business Model. IEEE Access, 9, 159965-159975.</h6>
          </div>
          <div class="columns">
              <h6>Regueiro, C., Seco, I., de Diego, S., Lage, O., & Etxebarria, L. (2021). Privacy-enhancing distributed protocol for data aggregation based on blockchain and homomorphic encryption. Information Processing & Management, 58(6), 102745.</h6>
          </div>
          <div class="columns">
              <h6>de Diego, S., Gonçalves, C., Lage, O., Mansell, J., Kontoulis, M., Moustakidis, S., ... & Liapis, A. (2019, October). Blockchain-Based Threat Registry Platform. In 2019 IEEE 10th Annual Information Technology, Electronics and Mobile Communication Conference (IEMCON) (pp. 0892-0898). IEEE.</h6>
          </div>
          <div class="columns">
              <h6>Lage, Oscar & de Diego, Santiago & Seco Aguirre, Iñaki & Larrucea, Xabier. (2019). Semi-real-time Hash Comparison for Detecting Intrusions Using Blockchain. 10.1007/978-3-030-32213-7_13.</h6>
          </div>
          <div class="columns">
              <h6>Lage, Oscar & de Diego, Santiago & Urkizu, Borja & Gómez, Eneko & Gutiérrez, Iván. (2019). Blockchain Applications in Cybersecurity. 10.5772/intechopen.90061.[https://www.intechopen.com/online-first/blockchain-applications-in-cybersecurity]</h6>
          </div>
          <div class="columns">
              <h6>Diego de Diego, S.; Romero López, G. Honeynet para el análisis del tráfico y muestras de malware. Enseñanza y Aprendizaje de Ingeniería de Computadores, 7: 145-155 (2017). [http://hdl.handle.net/10481/47378]</h6>
          </div>

      </div>
</body>